* { 
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  /* border: solid 1px red; */
  color: black;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(231, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, hsla(203, 89%, 71%, 1) 0%, hsla(0, 0%, 96%, 1) 100%);

}
footer {
  /* overflow: hidden; */
  background-color: #1E88E5;
  /* position: fixed; */
  bottom: 0;
  height: 5%;
  width: 100%;
  color: white;
  text-align: center;
  left: 0;
}

footer h5 {
  color: white;
  padding-top: 1%;
  padding-bottom: .5%;
}
form td {
  font-weight: 600;
}

#reset {
  width: 25%;
  padding-left: 1%;
  margin-bottom: 3%;
}
/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color:  #1E88E5;
} */

.dark-mode {
  background-color: black;
  color: white;
}

header {
  margin-top: 28%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
}

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(90deg, hsla(208, 79%, 51%, 1) 0%, hsla(0, 0%, 96%, 1) 78%);
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 4%;
}

li {
  display: inline-block;
 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
  
}

li a:hover {
  background-color: #111;
}

.heading {
  color: #1E88E5;
  text-shadow: 2px 2px 4px #000000;
}

.title {
  font-weight: 400;
  letter-spacing: 1.5px;
}

/* font family is added */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}

.container {
  display: inline-block;
  flex-direction: column;
  width: 30%;
  box-shadow: 7px 7px grey;
  border: 3px solid #1E88E5;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  margin-bottom: 5%;
  border-radius: 5% 5%;
}

h1, p {
  text-align: center;
}

/* desired spacing for input fields */
input {
  margin: 0.25em 0em 1em 0em;
  outline: none;
  padding: 0.5em;
  border: none;
  background-color: rgb(225, 225, 225);
  border-radius: 0.25em;
  color: black;
}

button {
  padding: 0.85em;
  outline: none;
  background-color:  #1E88E5;
  color: white;
  border-radius: 0.35em;
  width: 50%;
}

/* hover functionality for button */
button:hover {
  cursor: pointer;
  background-color: #A0CAEF;
}

.create_button {
  margin-left: 30%;
  margin-bottom: 3%;
}

.democlass {
  color: red;
}